[Unit]
Description=Service that keeps running the tnh-server from startup.

[Install]
WantedBy=multi-user.target

After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/tnh-server
WorkingDirectory=/home/webserver/source_directory
Restart=always
RestartSec=5
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=%n

# START SERVER OPTIONS
Environment=HTTP_PORT=8081
Environment=MAX_CONNECTIONS=128
Environment=CONNECTION_TIMEOUT=120
Environment=MEMORY_LIMIT=65535
Environment=MAX_THREADS=8
# END SERVER OPTIONS

# START DB SERVER SETTINGS
Environment=DB_IP=192.168.1.174
Environment=DB_USERNAME=admin
Environment=DB_PASSWORD=Strawb3rries
Environment=DB_NAME=humidity_tracker
Environment=DB_PORT=3306
# END DB SERVER SETTINGS